* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: black;
  color: black;
  text-decoration: underline;
}

h1 {
  background-color: #999;
}

nav ul {
  display: flex
}



body {
  width: 100%;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

footer {
  border-radius: 5px;
  padding: 10px;
  background-color: #160000;
}



aside {
  border-right: 1px solid #999;
}

section {
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav img {
  float: left;
  width: 25px;
  height: 25px;
  object-fit: cover;
}

li {
  display: flex;
}



.profile {
  float: left;
  margin: 5px;
  height: 100px;
  width: 100px;
}

p {
  text-align: justify;
}

.mainworks {
  float: left;
  margin: 5px;
  height: 400px;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}



.subworks {
  float: left;
  margin: 5px;
  height: 200px;
  width: 300px;
  flex-wrap: wrap;
  display: flex;
}

a:hover {
  color: #160000;
}

@media screen and (max-width: 576px) {
  .mainworks {
    background-color: red
  }
  .placeholders {
    background-color: red
  }
  .profile {
    background-color: red
  }
  header {
    background-color: red;
  }
  footer {
    background-color: red;
  }
  nav {
    background-color: red;
  }
}

@media screen and (max-width: 768px) {
  .mainworks {
    background-color: red
  }
  .placeholders {
    background-color: red
  }
  .profile {
    background-color: red
  }
  header {
    background-color: red;
  }
  footer {
    background-color: red;
  }
  nav {
    background-color: red;
  }
}

@media screen and (max-width: 992px) {
  .mainworks {
    background-color: red
  }
  .placeholders {
    background-color: red
  }
  .profile {
    background-color: red
  }
  header {
    background-color: red;
  }
  footer {
    background-color: red;
  }
  nav {
    background-color: red;
  }
}